---
-
  hosts: linux
  tasks:
    - name: Configure a MOTD (message of the day)
      copy:
        content: "Welcome to {{ item }} Linux - Ansible Rocks!\n"
        dest: /etc/motd
      notify: MOTD changed
      # Task item=CentOS ve item=Ubuntu için toplam 2 tur çalışır. item=CentOS olduğunda "ansible_distribution=CentOS" olan sunucularda MOTM basılır. item=Ubuntu olduğunda "ansible_distribution=Ubuntu" olan sunucularda MOTM basılır.
      # "with_items" ile "item" değişkeninin alabileceği değerler tanımlanır.
      # "ansible_distribution == item" ile "ansible_distribution" değişkeni, "item" değişkeninin değerine atanır.
      with_items: [ 'CentOS', 'Ubuntu' ] 
      when: ansible_distribution == item
  handlers:
    - name: MOTD changed
      debug:
        msg: The MOTD was changed

...
